/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.DS_Store
*.log
Thumbs.db

# VS Code
/.vscode
/.fleet
/.idea
/.nova
/.phpunit.cache
/.zed

# MacOS
.DS_Store

# PHPUnit
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml

# Sail
.env.sail

# Local configuration
.env.*
!.env.example
.ipynb_checkpoints
